<!DOCTYPE html>
      <html lang="en">
      <head>
         <meta charset="UTF-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <title>기아 타이거즈</title>
         <style>
            th, tr { text-align: center }
         </style>
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
         </head>
      <body style="margin: 50px;">
      <input type="image" src="tigers/logo.jpg">
         <h1>기아 타이거즈 선수단</h1>
         <button onclick="location.href='/create'">추가</button>
         <hr>
         <table>
            <tr>
                  <th>ID</th>
                  <th>선수명</th>
                  <th>사진</th>
                  <th>백넘버</th>
                  <th>포지션</th>
                  <th>수정/삭제</th>
            </tr>
            <!--  ${trs} -->
            <% for(let row of rows){ %>
               <tr>
                  <td><%= row.id %></td>
                  <td><%= row.player %></td>
                  <td><img src="/tigers/<%= row.player %>.jpg" height="48"></td>
                  <td><%= row.backNo %></td>
                  <td><%= row.position %></td>
                  <td><a href="/update?id=<%= row.id %>"><i class="fa-solid fa-thumbs-up"></i></a>&nbsp;
                     <a href="/delete?id=$<%= row.id %>"><i class="fa-solid fa-user-minus"></i></a></td>
               </tr>
            <% } %>
         </table>
      </body>
      </html>

 